body {
    background-color: #2a2a2a;
}

title {
    color: red;
}

h1 {
    text-align: center;
    color: rgb(255, 0, 0);
}


.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}

.btn {
    background-color: crimson;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

